.card {
  width: 380px;
  border-radius: 10px;
  background: #212121;
}

.cardImage {
  width: inherit;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.cardPlatformsRating {
  display: flex;
  justify-content: space-between;
}

.platforms {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.platform {
  margin-right: 10px;
}

.platform:empty {
  margin-right: 0;
}

.cardInfo {
  padding: 16px 16px 24px;
}

.cardName {
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  margin-bottom: 10px;
}

.cardRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  border-top: 1px solid #484747;
  padding-top: 8px;
  padding-bottom: 8px;
}

.cardGenre {
  display: flex;
  flex-direction: row;
}

.cardGenre > div:not(:last-of-type)::after {
  content: ',';
  margin-right: 5px;
}