.card {
  width: 380px;
  border-radius: 10px;
  background: #212121;
}

.cardImage {
  width: inherit;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.cardInfo {
  padding: 16px 16px 24px;
}

.cardName {
  font-size: 24px;
  font-weight: bold;
}

.cardRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
